<template>
  <el-card class="box-card" shadow="hover">
    <div slot="header" class="clearfix">
      <span>
        <el-avatar
          v-if="issue.type"
          :src="issue.type.iconUrl"
          :size="20"
        ></el-avatar>
        <span
          v-if="issue.status === 'Done'"
          style="text-decoration: line-through 2px darkred;"
        >
          {{ issue.key }}
        </span>
        <span v-else>{{ issue.key }} </span>
      </span>
      <el-tooltip
        v-if="issue.assignee"
        effect="dark"
        :content="issue.assignee.displayName"
        placement="top-start"
      >
        <el-avatar
          style="float: right"
          :src="issue.assignee.avatarUrls['16x16']"
          :size="20"
        ></el-avatar>
      </el-tooltip>
      <el-avatar
        v-else
        style="float: right"
        src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"
        :size="20"
      ></el-avatar>
    </div>
    <div class="text item">
      {{ issue.title }}
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'Issue',
  props: {
    id: { type: String, default: null },
    issue: { type: Object, default: null }
  }
}
</script>

<style scoped>
.box-card {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.box-card:active {
  cursor: move;
}

.item {
  min-height: 50px;
  overflow: hidden;
}
</style>
