<template>
  <div>
    <h3>
      <el-badge class="item" :value="localIssues.length" :type="type">
        <el-tag :type="type" effect="dark">
          <span v-if="point !== ''"> Story-Point {{ point }} </span>
          <span v-else>Backlog</span>
        </el-tag>
      </el-badge>
    </h3>
    <draggable
      v-model="localIssues"
      v-bind="dragOptions"
      class="list-group"
      group="people"
      @change="inputChanged"
    >
      <div
        v-for="element in localIssues"
        :key="element.key"
        class="list-group-item"
      >
        <Issue :id="element.key" :issue="element" />
      </div>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import Issue from './Issue'

export default {
  name: 'StorePoint',
  components: { draggable, Issue },
  props: {
    issues: {
      type: Array,
      default: null
    },
    point: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'info'
    }
  },
  data() {
    return { localIssues: this.issues }
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        disabled: false
      }
    }
  },
  methods: {
    inputChanged(value) {
      if (value.added) {
        const ele = value.added.element
        this.$store.commit('sprint/updateElement', {
          element: ele,
          point: this.point
        })
      }
    }
  }
}
</script>
<style>
.list-group {
  height: calc(100vh - 252px);
  overflow-y: scroll;
  overflow-x: hidden;
}
</style>
