<template>
  <div class="container">
    <h1 class="title">Magic Estimation</h1>
    <div class="content">
      <el-row justify="center" class="top">
        <el-col>
          <el-steps :active="active" finish-status="success" simple>
            <el-step title="Project"></el-step>
            <el-step title="Sprint"></el-step>
          </el-steps>
        </el-col>
      </el-row>
      <el-row justify="center">
        <el-col :span="12">
          <div class="options">
            <el-select
              v-model="project"
              clearable
              placeholder="Select"
              @change="getSprints(project)"
            >
              <el-option
                v-for="item in $store.getters['sprint/projects']"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </div>
        </el-col>
        <el-col :span="12">
          <div>
            <el-select
              v-model="sprint"
              clearable
              placeholder="Select"
              :loading="loadSprint"
              @change="checkSprint(sprint)"
            >
              <el-option
                v-for="sprintItem in $store.getters['sprint/sprints']"
                :key="sprintItem.id"
                :label="sprintItem.name"
                :value="sprintItem.id"
              >
              </el-option>
            </el-select>
          </div>
        </el-col>
      </el-row>
      <el-row justify="center">
        <el-col>
          <div class="bg-page-purple">
            <el-button :type="btnType" :disabled="disabled" @click="handleData">
              get Issues
            </el-button>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: 0,
      btnType: 'info',
      disabled: true,
      project: '',
      sprint: '',
      loadSprint: false
    }
  },
  async created() {
    this.$store.dispatch('sprint/eraseStorage')
    await this.$store.dispatch('sprint/loadProjects')
  },
  methods: {
    async getSprints(project) {
      await this.$axios
        .get('/getSprints/' + project)
        .then((res) => {
          this.sprint = ''
          this.$store.commit('sprint/setBoardId', project)
          this.$store.commit('sprint/setSprints', res.data)
          if (res.data.length > 0) {
            this.active = 1
          }
        })
        .catch((e) => {
          this.$store.commit('sprint/setBoardId', 'project')
          this.$store.commit('sprint/setSprints', [])
          this.sprint = ''
          this.active = 0
          this.disabled = true
          this.btnType = 'info'
        })
    },
    async checkSprint(sprint) {
      const boardId = this.$store.getters['sprint/boardId']
      await this.$axios
        .get('/checkSprint/' + boardId + '/' + sprint)
        .then((res) => {
          if (res.status === 200) {
            this.$store.commit('sprint/setSprint', sprint)
            this.$store.commit('sprint/setSprintGoal', res.data.goal)
            this.active = 2
            this.disabled = false
            this.btnType = 'success'
          } else {
            this.$message.error("Oops, this sprint doesn't exist!")
          }
        })
        .catch(() => {
          this.active = 1
          this.$store.commit('sprint/setSprint', '')
          this.disabled = true
          this.btnType = 'info'
        })
    },
    handleData() {
      this.$nextTick(async () => {
        const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        })
        const sprint = this.$store.getters['sprint/sprint']
        const boardId = this.$store.getters['sprint/boardId']
        await this.$axios
          .get('/checkSprint/' + boardId + '/' + sprint)
          .then(async () => {
            await this.$store.dispatch('sprint/loadIssues').then(() => {
              this.$router.push('/issues')
            })
          })
        if (loading) {
          loading.close()
        }
      })
    }
  }
}
</script>

<style>
.bg-page-purple {
  background: #f5f7fa;
}

.content {
  width: 100vh;
  margin: auto;
}

.container {
  margin: 0 auto;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
  margin: 10vh;
}

.el-select {
  margin: 50px;
}
</style>
