<template>
  <el-menu
    :default-active="activeIndex"
    :router="true"
    mode="horizontal"
    background-color="#3b8070"
    text-color="#fff"
    active-text-color="#ffd04b"
  >
    <el-menu-item index="/">Start-Seite</el-menu-item>
  </el-menu>
</template>

<script>
export default {
  name: 'Menu',
  data() {
    return {
      activeIndex: this.$router.currentRoute.path
    }
  }
}
</script>

<style scoped></style>
