<template>
  <div>
    <el-row type="flex" class="row-bg" justify="center">
      <el-col :span="5">
        <div class="grid-content bg-purple">
          <StorePoint :issues="this.$store.getters['sprint/issues']" />
        </div>
      </el-col>
      <el-col
        v-for="group in $store.getters['sprint/groups']"
        :key="group.label"
        :span="5"
      >
        <div class="grid-content bg-purple">
          <StorePoint
            :issues="group.model"
            :type="group.type"
            :point="group.label"
          />
        </div>
      </el-col>
    </el-row>
    <el-row type="flex" class="row-bg" justify="center" :gutter="20">
      <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11">
        <el-input
          v-model="input"
          placeholder="Sprint Ziel"
          clearable
          @input="enableBtn"
        />
      </el-col>
      <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11">
        <el-button
          type="primary"
          :loading="loading"
          :disabled="btnDisabled"
          @click="handleData"
        >
          Übertragen
        </el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import StorePoint from '../../components/issues/StorePoint'

export default {
  components: { StorePoint },
  data() {
    return {
      issues: [],
      loading: false,
      btnDisabled: this.$store.getters['sprint/sprintGoal'].length === 0
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        disabled: false
      }
    },
    input: {
      get() {
        return this.$store.getters['sprint/sprintGoal']
      },
      set(value) {
        this.$store.commit('sprint/setSprintGoal', value)
      }
    }
  },
  created() {
    const loading = this.$loading({
      lock: true,
      text: 'Loading',
      spinner: 'el-icon-loading',
      background: 'rgba(0, 0, 0, 0.7)'
    })
    this.$nextTick(async () => {
      await this.$store.dispatch('sprint/loadIssues').catch(() => {
        this.$router.push('/')
      })
      const items = this.$store.getters['sprint/groups'].filter((group) => {
        return group.model.length !== 0
      })
      if (
        this.$store.getters['sprint/issues'].length === 0 &&
        items.length === 0
      ) {
        this.$router.push('/')
      }
      if (loading) {
        loading.close()
      }
    })
  },
  methods: {
    enableBtn() {
      this.btnDisabled = this.input.length <= 4
    },
    handleData() {
      if (this.input.length) {
        this.loading = true
        const data = {
          goal: this.input,
          groups: this.$store.getters['sprint/groups']
        }
        this.$axios
          .post('updateIssues/' + this.$store.getters['sprint/sprint'], data)
          .then((res) => {
            if (
              res.data.status !== 200 &&
              res.data.data &&
              Object.keys(res.data.data).length !== 0
            ) {
              this.$message.error(res.data.data)
            } else if (res.status === 200) {
              this.$message.success(
                'Die Issues wurden erfolgreich an Jira übergeben!!'
              )
            }
          })
          .catch((e) => {
            this.$message.error('some thing wnt wrong!')
          })
          .finally(() => {
            this.loading = false
          })
      }
    }
  }
}
</script>

<style>
.bg-purple {
  background: #d3dce6;
}

.grid-content {
  border-radius: 4px;
  height: 100%;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
